
/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
* Copyright 2022 Adobe
* All Rights Reserved.
*
* NOTICE: All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
**************************************************************************/


th { font-weight: normal; background-color: #ffffff}
.row_background.stripe {background-color: #b0b0f0 !important }
.col_background {background-color: #a0a0f0 !important}
.row_background {background-color: #c0c0f0 !important }
.stripe {background-color: #e0e0f0; !important }
.row_sticky {position: sticky; left: 0px; z-index: 100; }
.col_sticky {position: sticky; top: 0px; z-index: 101;}
.row_sticky.col_sticky {z-index: 102;}
.rowborders { border-bottom: 1px solid black; border-top: 1px solid black; } 
.colborders { border-left: 1px solid black; border-right: 1px solid black; }
table { border-collapse: collapse}
.bold {font-weight: bold;}
.italic {font-style: italic;}
.underline {text-decoration: underline;}
body { margin:0}
